<div class="col justify-content-md-center">
	<div class="form-group row">
		<form ng-submit="submeter()" name="formPessoa" class="needs-validation" novalidate>
			<div  class="col form-col">
				<div class="custom-control custom-radio">
				  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" ng-change="clear()"  checked ng-model="tipo" value="FISICA"/> 
				  <label class="custom-control-label" for="customRadio1">Fisica</label>
				</div>
				<div style="min-height: 15px;"></div>
				<div class="custom-control custom-radio">
				  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" ng-change="clear()" ng-model="tipo" value="JURIDICA"/> 
				  <label class="custom-control-label" for="customRadio2">Juridica</label>
				</div>
			</div>
			<div style="min-height: 20px;"></div>
			<div ng-show="isPessoaFisica()" >
				<!-- 	 PESSOA FISICA -->
				<div  class="form-group">
					<div class="col">
						<label for="nome">Nome</label>
						<input id="nome" type="text" maxlength="40" class="form-control" 
							ng-model="pessoaFisica.nome">
					</div>
					<div class="col">
						<label for="cpf" data-error="Errado" data-success="ok">CPF</label>
						<input id="cpf" maxlength="12" class="form-control"  type="text"
							ng-model="pessoaFisica.cpf"> 
					</div>
					<div class="col">
						<label for="data" data-error="Errado" data-success="ok">Data Nascimento</label>
   					    <input type="date" class="form-control" value="" format="dd/MM/yyyy" id="data" ng-model="pessoaFisica.dataNascimento"> 
					</div>
				</div>
			</div>
			<div ng-show="isPessoaJuridica()">
				<!-- 	 PESSOA JURIDICA -->
				<div  class="form-group">
					<div class="col">
						<label for="cnpj">CNPJ</label>
						<input id="cnpj" type="text" maxlength="20" class="form-control" ng-model="pessoaJuridica.cnpj"> 
					</div>
					<div class="col">
						<label for="nomeFantasia" data-error="Errado" data-success="ok">Nome Fantasia</label>
						<input id="nomeFantasia" maxlength="20" class="form-control" type="text" ng-model="pessoaJuridica.nomeFantasia"> 
					</div>
					<div class="col">
						<label for="razaoSocial" data-error="Errado" data-success="ok">Raz&amacr;o Social</label>
						<input id="razaoSocial" maxlength="40" class="form-control" type="text" ng-model="pessoaJuridica.razaoSocial"> 
					</div>
				</div>
			</div>
			<div class="form-group col">
				<button class="btn btn-outline-primary" type="submit">
					<i class="material-icons">add</i>
				</button>
				<button class="btn btn-outline-primary" type="button" ng-click="clear()">
					<i	class="material-icons" >replay</i>
				</button>
				<button class="btn btn-outline-primary" type="button" ng-click="getPessoas()">
					<i class="material-icons" >search</i>
				</button>

			</div>
		</form>
	</div>
	<div style="min-height: 30px;"></div>
	<div class="row justify-content-md-center">
		<table class="table table-hover">
			<!-- 			<thead> -->
			<!-- 				<tr> -->
			<!-- 					<th></th> -->
			<!-- 					<th></th> -->
			<!-- 					<th></th> -->
			<!-- 					<th></th> -->
			<!-- 				</tr> -->
			<!-- 			</thead> -->
			<tbody>
				<tr ng-model="rows" ng-repeat="row in rows track by $index"
					ng-click="select(row.id)" scope=row>
					<td>{{ row.first }}</td>
					<td>{{ row.second }}</td>
					<td>{{ row.third }}</td>
					<td><a
						class="btn-floating left btn-small waves-effect waves-light green"><i
							class="material-icons" ng-click="delete(row.id)">delete_forever</i></a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>


</div>